.root {
  position: relative;
  display: inline-grid;
  flex: none;
  overflow: hidden;
  border-radius: 14px;
  line-height: 0;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.root > :first-child {
  grid-area: 1 / 1;
}
